@mixin font {
  font-family: arial, helvetic, sans-serif;
  font-size: 0.8rem;
}
@mixin fl {
  float: left;
  display: inline;
}
$error: red;
$styleguide-unit: 5px;

$border-color: #0066EE;

.contacts-list {
  @include fl;
  @include font;
  clear: both;
}
