@mixin font {
  font-family: arial, helvetic, sans-serif;
  font-size: 0.8rem;
}
@mixin fl {
  float: left;
  display: inline;
}
$error: red;
$styleguide-unit: 5px;

.contact-form {
  @include fl;
  outline: 1px solid red;
  width: 252px;
  clear: both;
  padding: 4*$styleguide-unit;
}
.contact-form__group {
  display: block;
  margin-bottom: 0.3rem;
}
.contact-form__label {
  display: inline-block;
  width: 7rem;
  @include font;
}
.contact-form__input {
  background: white;
  padding: 0.2rem;
  
}
.contact-form__error {
  color: $error;
  @include font;
}
.contact-form__button {
  background: lightgrey;
  border: 1px solid darkgrey;
  color: black;
  @include font;
  padding: $styleguide-unit;
  width: 7rem;

  &:disabled {
    opacity: 0.5;
  }
}
